<% provide(:title, @wine.name) %>


<h1><%= @wine.name %></h1>
<p>Year: <%= @wine.year %></p>
<p>Maker: <%= @wine.maker_id %></p>
<p>Varietal: <%= @wine.varietal_id %></p>
<p>Region: <%= @wine.region_id %></p>
<p>Description: <%= @wine.description %></p>